/* Base Hamburger Styling */
.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 1rem;
  height: 1rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10;
}

.bar {
  width: 0.8rem;
  height: 0.15rem;
  background-color: white;
  border-radius: 10px;
  transition: all 0.1s linear;
  position: relative;
  transform-origin: 0.8px;
}

/* CSS Morphing Animations (Transforms 3 lines into an 'X') */
.hamburger.open .bar:nth-child(1) {
  transform: rotate(45deg);
}

.hamburger.open .bar:nth-child(2) {
  transform: rotate(-45deg);
}

/* Menu Draw Styling */
.nav-menu {
  position: fixed;
  bottom:-100%;
  left:0;
  width: 100vw;
  background-color: #ffffff;
  transition: 0.3s ease-in-out;
  padding-top: 5rem;
}

.nav-menu.active {
  top:4.5rem;
}

.nav-menu ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.nav-menu a {
  font-family: Satoshi-Bold !important;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 2.3rem;
}